<!--
@Author: Tushar Agarwal(tusharcoder) <tushar>
@Date:   2016-12-30T05:15:04+05:30
@Email:  tamyworld@gmail.com
@Filename: app.component.html
@Last modified by:   tushar
@Last modified time: 2016-12-30T06:12:08+05:30
-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <template-driven></template-driven>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <model-driven></model-driven>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form-validation></form-validation>
    </div>
  </div>

</div>
